$default-min:5;
$default-min-original:5;
$default-max:200;
$default-max-original:200;
$default-step:5;
$default-step-original:5;
$default-unit:px;
$default-unit-original:px;

$border-min:5;
$border-min-original:5;
$border-max:200;
$border-max-original:200;
$border-step:5;
$border-step-original:5;
$border-unit:px;
$border-unit-original:px;

$border-radius-min:5;
$border-radius-min-original:5;
$border-radius-max:200;
$border-radius-max-original:200;
$border-radius-step:5;
$border-radius-step-original:5;
$border-radius-unit:px;
$border-radius-unit-original:px;

$position-min:5;
$position-min-original:5;
$position-max:200;
$position-max-original:200;
$position-step:5;
$position-step-original:5;
$position-unit:px;
$position-unit-original:px;

$font-min:5;
$font-min-original:5;
$font-max:200;
$font-max-original:200;
$font-step:5;
$font-step-original:5;
$font-unit:px;
$font-unit-original:px;

$dimension-min:5;
$dimension-min-original:5;
$dimension-max:200;
$dimension-max-original:200;
$dimension-step:5;
$dimension-step-original:5;
$dimension-unit:px;
$dimension-unit-original:px;

$margin-min:5;
$margin-min-original:5;
$margin-max:200;
$margin-max-original:200;
$margin-step:5;
$margin-step-original:5;
$margin-unit:px;
$margin-unit-original:px;

$padding-min:5;
$padding-min-original:5;
$padding-max:200;
$padding-max-original:200;
$padding-step:5;
$padding-step-original:5;
$padding-unit:px;
$padding-unit-original:px;

$z-index-min:5;
$z-index-min-original:5;
$z-index-max:200;
$z-index-max-original:200;
$z-index-step:5;
$z-index-step-original:5;
$z-index-unit:px;
$z-index-unit-original:px;

